<form class="form" (submit)="submitDiaryEntry()">
  <mat-form-field class="full-width" appearance="fill" [style.fontSize]="'18px'">
    <mat-label>Subject</mat-label>
    <input
      matInput
      placeholder="Summarize your day..."
      name="subject"
      ngModel
      required>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Content</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="5"
      placeholder="Talk about it..."
      name="content"
      ngModel
      required></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit Entry</button>
</form>
