<form class="form" (submit)="submitDiaryEntry(diaryEntryForm)" #diaryEntryForm="ngForm">
  <mat-form-field class="full-width" appearance="fill" [style.fontSize]="'18px'">
    <mat-label>Subject (75 char. max.)</mat-label>
    <input
      matInput
      placeholder="Summarize your day..."
      name="subject"
      ngModel
      required
      maxlength="75">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Content</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="5"
      placeholder="Talk about it..."
      name="content"
      ngModel
      required></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Submit Entry</button>
</form>
