.full-width {
  width: 100%;
}

button {
  float: right;
  margin: auto;
  width: 85px;
  text-align: center;
}

#sign-up {
  margin-right: 15px;
}

.mat-button-wrapper {
  text-align: center;
  margin-left: 5px;
}

mat-card-title {
  margin-top: 10px;
  margin-bottom: 30px;
}

#login-card {
  margin-top: 50px;
  width: 20%;
  height: 230px;
  min-width: 210px
}

#signup-card {
  margin-top: 50px;
  width: 20%;
  height: 520px;
  min-width: 210px
}
